<table id="basket-table">
    <thead>
        <tr>
            <th>Product</th>
            <th>Qty</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        <tr data-ng-repeat="i in products">
            <td>{{i.name}}</td>
            <td><input type="submit" value="-" ng-click="reduceItem(i)" />{{i.itemCount}}<input type="submit" value="+" ng-click="addItem(i)" /></td>
            <td>&pound;{{i.price}}</td>
            <td><input type="submit" value="X" ng-click="removeFromBasket(i)" /></td>
        </tr>
        <tr>
            <td colspan="2" align="right">Total</td>
            <td>&pound;{{getTotal()}}</td>
        </tr>
    </tbody>
</table>